# Exercise 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
len(chipo)

4622

In [7]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [20]:
# Group by item_name and sum up quantities
most_ordered = chipo.groupby("item_name")["quantity"].sum().reset_index()

# Find the item with the maximum quantity
most_ordered_item = most_ordered.loc[most_ordered["quantity"].idxmax()]

print(f"Most-ordered item: {most_ordered_item['item_name']}")

Most-ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [19]:
print(f"{most_ordered_item['quantity']} orders")

761 orders

### Step 11. What was the most ordered item in the choice_description column?

In [22]:
# Group by choice_description and sum quantities
most_ordered_choice = chipo.groupby("choice_description")["quantity"].sum().reset_index()

# Find the most-ordered choice description
most_ordered_choice_item = most_ordered_choice.loc[most_ordered_choice["quantity"].idxmax()]

print(f"Most-ordered choice description: {most_ordered_choice_item['choice_description']} "
      f"with {most_ordered_choice_item['quantity']} orders")

Most-ordered choice description: [Diet Coke] with 159 orders

### Step 12. How many items were orderd in total?

In [28]:
count_itm = chipo.groupby("item_name")["quantity"].sum()
print(f"Total number is {count_itm.sum()}")

Total number is 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [27]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [28]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:-1]))

#### Step 13.c. Check the item price type

In [29]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [41]:
revenue = (chipo['quantity']*chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [17]:
num_orders = chipo["order_id"].unique()
len(num_orders)

1834

### Step 16. What is the average revenue amount per order?

In [33]:
# Solution 1
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
per_order = chipo.groupby("order_id").sum()
per_order["revenue"].mean()

21.39423118865867

In [40]:
# Solution 2
average_revenue = chipo.groupby("order_id").sum()["revenue"].mean()
average_revenue

21.39423118865867

### Step 17. How many different items are sold?

In [43]:
len(chipo["item_name"].unique())

50